<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{visit.edit.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="flex flex-wrap mb-6">
                <h1 class="grow text-3xl md:text-4xl font-medium mb-2">[[#{visit.edit.headline}]]</h1>
                <div>
                    <a th:href="@{/visits}" class="inline-block text-white bg-gray-500 hover:bg-gray-600 focus:ring-gray-200 focus:ring-4 rounded px-5 py-2">[[#{visit.edit.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('visit')}" />
            <form th:action="${requestUri}" method="post" novalidate="">
                <div th:replace="~{fragments/forms::inputRow(object='visit', field='id', disabled=true, type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='visit', field='visitDate', required=true, inputClass='js-datepicker')}" />
                <div th:replace="~{fragments/forms::inputRow(object='visit', field='description', required=true, type='textarea')}" />
                <div th:replace="~{fragments/forms::inputRow(object='visit', field='createdAt', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='visit', field='updatedAt', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='visit', field='deletedAt')}" />
                <div th:replace="~{fragments/forms::inputRow(object='visit', field='pet', required=true, type='select')}" />
                <input type="submit" th:value="#{visit.edit.headline}" class="inline-block text-white bg-blue-600 hover:bg-blue-700 focus:ring-blue-300  focus:ring-4 rounded px-5 py-2 cursor-pointer mt-6" />
            </form>
        </div>
    </body>
</html>
