<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{visit.list.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="flex flex-wrap mb-6">
                <h1 class="grow text-3xl md:text-4xl font-medium mb-2">[[#{visit.list.headline}]]</h1>
                <div>
                    <a th:href="@{/visits/add}" class="inline-block text-white bg-blue-600 hover:bg-blue-700 focus:ring-blue-300  focus:ring-4 rounded px-5 py-2">[[#{visit.list.createNew}]]</a>
                </div>
            </div>
            <div th:if="${visits.empty}">[[#{visit.list.empty}]]</div>
            <div th:if="${!visits.empty}" class="overflow-x-auto">
                <table class="w-full">
                    <thead>
                        <tr>
                            <th scope="col" class="text-left p-2">[[#{visit.id.label}]]</th>
                            <th scope="col" class="text-left p-2">[[#{visit.visitDate.label}]]</th>
                            <th scope="col" class="text-left p-2">[[#{visit.createdAt.label}]]</th>
                            <th scope="col" class="text-left p-2">[[#{visit.updatedAt.label}]]</th>
                            <th scope="col" class="text-left p-2">[[#{visit.deletedAt.label}]]</th>
                            <th scope="col" class="text-left p-2">[[#{visit.pet.label}]]</th>
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody class="border-t-2 border-black">
                        <tr th:each="visit : ${visits}" class="odd:bg-gray-100">
                            <td class="p-2">[[${visit.id}]]</td>
                            <td class="p-2">[[${visit.visitDate}]]</td>
                            <td class="p-2">[[${visit.createdAt}]]</td>
                            <td class="p-2">[[${visit.updatedAt}]]</td>
                            <td class="p-2">[[${visit.deletedAt}]]</td>
                            <td class="p-2">[[${visit.pet}]]</td>
                            <td class="p-2">
                                <div class="float-right whitespace-nowrap">
                                    <a th:href="@{/visits/edit/{id}(id=${visit.id})}" class="inline-block text-white bg-gray-500 hover:bg-gray-600 focus:ring-gray-200 focus:ring-3 rounded px-2.5 py-1.5 text-sm">[[#{visit.list.edit}]]</a>
                                    <form th:action="@{/visits/delete/{id}(id=${visit.id})}"
                                            th:hx-confirm="#{delete.confirm}" method="post" class="inline">
                                        <button type="submit" class="inline-block text-white bg-gray-500 hover:bg-gray-600 focus:ring-gray-200 focus:ring-3 rounded px-2.5 py-1.5 text-sm cursor-pointer">[[#{visit.list.delete}]]</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
